* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body setup */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header{
    background-color: #084c47;
    color:#fff;
    height:200px
}
.header__navbar{
    display: flex;  
    justify-content: space-between;
}

.header__logo{
    font-size:40px;
    margin:-40px 0;
}

.header__navbar__list{
    display: inline-block;
    margin:140px 15px;
    align-items:center;
    font-size:30px
}
.header__navbar_item{
    display: inline-block;
    margin:40px 10px;
    align-items:center;
}
i{
    font-size:30px;
}
a{
    color:#fff;
    text-decoration: none;

}

.container__intro{
   background-image: url("./Home/header11.jpg");
   color:#fff;
   background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}  
.container__logo h1{
    font-size: 60px;
}

.container__logo p{
    font-size: 40px;
    font-family: 'Waiting for the Sunrise', cursive;
}
.container__list{
    list-style: none;
}

.container__menu{
    display: flex;  
    justify-content: space-between;
    text-decoration: none;
}

.container__list{
    display: inline-block;
    margin:20px 15px;
    align-items:center;
    color:#fff;
    font-size:30px;
}
.sent-flower-btn{
    background-color: #084c47;
    color:#FFF;
    padding: 5px 15px;
    border-radius: 20px;
    font-size:40px;
    font-family: 'Waiting for the Sunrise', cursive;
}

.container__wellcome{
    background-color:  #efe3d8;
    display: flex;              /* Sử dụng Flexbox */
    flex-direction: column;     /* Sắp xếp các phần tử theo chiều dọc */
    justify-content: center;     /* Căn giữa theo chiều dọc */
    align-items: center;        /* Căn giữa theo chiều ngang */
    text-align: center;  
    color:black;
}

.container__wellcome h2{
    font-size: 40px;
}

.container__wellcome p{
    font-size: 30px;
    font-family: 'Waiting for the Sunrise', cursive;
}

.container__infor{
    background-color:  #efe3d8;
}

.container__infor{
    display: flex;
    justify-content: space-between;
    padding:10px 30px;
}

.container__delivery-info h3{
    font-size:50px;
}
.container__delivery-info p{
    font-size:30px;
}

.send-flowers-btn{
    background-color: #084c47;
    color:#FFF;
    padding: 5px 15px;
    border-radius: 20px;
    font-size:30px;
    font-family: 'Waiting for the Sunrise', cursive;
} 

.container__delivery-image{
    max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều rộng của container */
    height: auto; /* Tự động điều chỉnh chiều cao theo tỷ lệ */
    width:100%;
    border-radius: 50px; /* Tạo góc bo cho ảnh */

}

img{
    border-radius: 50px;
}

.footer{
    background-color: #084c47;
    color:#fff;
    height:60px;
    
}
.footer__navbar{
    display: flex;
    justify-content: space-between;

}
.footer__navbar_item{
    display: inline-block;
    margin:20px 10px;
    align-items:center;
}

.footer h1{
    font-size:20px;
}