body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color:#101010;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.order-details {
    background: #fff;
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

form img {
    margin-right: 10px;
}

.status {
    flex-grow: 1;
    font-weight: bold;
}

input[type="button"] {
    background-color: #101010
;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #474b47;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
